@model IEnumerable<WApp.Service.Models.Despesa>

@{
    ViewBag.Title = "Despesas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Nova Despesa", "create", new { controller = "despesa" }, new { @class = "btn btn-primary" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CobrancaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcelamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SituacaoId)
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>

    <tbody>
       
    </tbody>

</table>

<div class="modal fade" id="ObservacaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Observação</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
<script>
    function openObs(text) {

    }
</script>