@model IEnumerable<WApp.Service.Controllers.FinanceiroView>

@{
    ViewBag.Title = "Financeiro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Nova Despesa","create", new { controller = "financeiro"},new { @class = "btn btn-primary" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CobrancaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcelamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.Data)
                </td>

                <td>
                    @Html.DisplayFor(i => item.Descricao)
                </td>

                <td>
                    @*@Html.DisplayFor(i => item.Valor)*@
                    R$ @string.Format("{0:n2}",item.Valor)
                </td>

                <td>
                    @Html.DisplayFor(i => item.CobrancaId)
                </td>

                <td>
                    @Html.DisplayFor(i => item.Parcelamento)
                </td>

                <td>
                    @if (item.Observacao.Length > 0)
                    {
                        <button class="btn btn-info btn-sm" onclick="openObs(@item.Id)" data-toggle="modal" data-target="#ObservacaoModal">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>

                    }
                </td>

                <td>
                    @Html.DisplayFor(i => item.CategoriaId)
                </td>

                <td>
                    @Html.DisplayFor(i => item.StatusId)
                </td>

                <td>
                    <button class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>

        }

    </tbody>

</table>

<div class="modal fade" id="ObservacaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Observação</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
<script>
    function openObs(text) {
        
    }
</script>