@model IEnumerable<WApp.Service.Models.Cobranca>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    if (ViewBag.TypeMsg == "success")
    {
        <div class="alert alert-secondary" role="alert">
            @ViewBag.Message
        </div>
    }
}

@Html.ActionLink("Novo tipo de Cobrança", "Create", new { controller = "Cobranca" }, new { @class = "btn btn-primary" })

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nome
                </td>

                @if (item.Status == 0)
                {
                    <td>
                        Inativo
                    </td>
                }
                else
                {
                    <td>
                        Ativo
                    </td>
                }
                <td>
                    <button class="btn btn-primary edit" onclick="toEdit(@item.CobrancaId)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="toRemove(@item.CobrancaId, '@item.Nome')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>


@* Modal de Delete *@

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>Remover categoria</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Delete", "Cobranca", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="deleteId" name="deleteId" />
                <div class="modal-body">
                    <p>Deseja remover o tipo de cobrança <span id="deleteName"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-default">Cancelar</button>
                    <button type="submit" class="btn-default">Excluir</button>
                </div>
            }
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        function toEdit(id) {
            window.location.href = "/financeiro/cobranca/edit/" + id
        }

        function toRemove(id, name) {
            $("#deleteId").val(id);
            $("#deleteName").text(name);
        }
    </script>
}
