@model IEnumerable<WApp.Service.Models.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.ActionLink("Nova Categoria", "Create", new { controller = "Categoria" }, new { @class = "btn btn-primary" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nome
                </td>

                @if (item.Status == 0)
                {
                    <td>
                        Inativo
                    </td>
                }
                else
                {
                    <td>
                        Ativo
                    </td>
                }
                <td>
                    <button class="btn btn-primary edit" value="@item.CategoriaId"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $(".edit").click(
            function (ev) {
                var id = ev.target.value
                window.location.href = "/financeiro/categoria/edit/" + id
            }
        )
    </script>
    }