@model IEnumerable<Core.Financeiro.Cobranca>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Nova Cobrança", "Create", new { controller = "Cobranca" }, new { @class = "btn btn-primary" })
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Fechamento da Fatura
            </th>
            <th>
                Vencimento Fatura
            </th>
            <th>
                Tipo de Cobrança
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    @if (item.Status == 1)
                    {
                        <td>
                            Ativo
                        </td>

                    }
                    else
                    {
                        <td>
                            Inativo
                        </td>
                    }
                    @if (item.DtVencimentoFatura < 1)
                    {
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.DtFechamentoFatura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DtVencimentoFatura)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCobranca)
                    </td>
                    <td>
                        <button class="btn btn-primary edit" onclick="toEdit(@item.Id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="toRemove(@item.Id, '@item.Nome')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">
                    Não há dados para apresentar
                </td>
            </tr>
        }
    </tbody>

</table>

@* Modal de Delete *@

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>Remover categoria</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Delete", "Cobranca", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="deleteId" name="deleteId" />
                <div class="modal-body">
                    <p>Deseja remover a cobranca <span id="deleteName"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-default btn" data-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button type="submit" data-dismiss="modal" aria-label="Close" class="btn-danger btn">Excluir</button>
                </div>
            }
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        function toEdit(id) {
            window.location.href = "/financeiro/cobranca/edit/" + id
        }

        function toRemove(id, name) {
            $("#deleteId").val(id);
            $("#deleteName").text(name);
        }
    </script>
}
