@model IEnumerable<Core.Financeiro.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    if (ViewBag.TypeMsg == "success")
    {
        <div class="alert alert-secondary" role="alert">
            @ViewBag.Message
        </div>
    }
}

@Html.ActionLink("Nova Categoria", "Create", new { controller = "Categoria" }, new { @class = "btn btn-primary" })

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Nome
                    </td>

                    @if (item.Status == 0)
                    {
                        <td>
                            Inativo
                        </td>
                    }
                    else
                    {
                        <td>
                            Ativo
                        </td>
                    }
                    <td></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">
                    Não há categorias para exibir
                </td>
            </tr>
        }
    </tbody>
</table>